.wrapper {
  margin-bottom: 24px;
}

.heading {
  composes: sansBold large from '../../styles-common/typography.css';
  composes: darkGray from '../../styles-common/colors.css';
  display: block;
  padding-bottom: 12px;
  padding-top: 12px;
}

.container {
  composes: purpleBackground from '../../styles-common/colors.css';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 12px;
  transition: background-color 0.4s ease;
}

.containerDisabled {
  composes: grayBackground from '../../styles-common/colors.css';
  composes: container;
}

.menuBar {
  display: flex;
  width: 36px;
  height: 36px;
  margin: 0 12px;
}

.menuBarLoading {

}

.tableWrapper {
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 4px;
  resize: both;
  min-width: 340px;
  height: 180px;
  padding: 10px 0 0;
  outline: none;
  border: none;
  background-color: white;
}

.data {
  font-size: 16px;
}

.link {
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 12px;
}

.link {
  composes: sansBold from '../../styles-common/typography.css';
  composes: grayPurple from '../../styles-common/colors.css';
}

.link:hover {
  color: white;
}

.listItem {
}

.listItemEven {
  composes: listItem;
  composes: lightPurpleBackground from '../../styles-common/colors.css';
}

.listItemOdd {
  composes: listItem;
  background-color: white;
}

.listItemOdd:hover a, .listItemEven:hover a{
  background-color: rgb(116, 88, 127);
  color: white;
}

.item {
  margin: 0;
  padding: 0;
}

.itemDate {
  composes: item;
  width: 40px;
}

.itemTitle {
  composes: item;
  min-width: 180px;
}

.itemClient {
  composes: item;
  min-width: 100px;
}

@media screen and (max-width: 640px) {
   .data {
     font-size: 12px;
   }
}

@media screen and (min-width: 640px) {
  .data {
    min-width: 600px;
  }
}

@media screen and (max-width: 500px) {
   .data {
     font-size: 10px;
   }
}

@media screen and (min-width: 500px) {
  .data {
    min-width: 460px;
  }
}

@media screen and (min-width: 600px) {
  .data {
    min-width: 560px;
  }
}

@media screen and (min-width: 1280px) {
  .data {
    min-width: 640px;
  }
}
