.purpleBackground {
  background-color: rgb(142, 68, 173);
}

.grayPurpleBackground {
  background-color: rgb(116, 88, 127);
}

.lightPurpleBackground {
  background-color: rgb(234, 218, 241);
}

.redBackground {
  background-color: rgb(231, 76, 60);
}

.greenBackground {
  background-color: rgb(61, 178, 125);
}

.grayBackground {
  background-color: rgb(211, 211, 211);
}

.darkGrayBackground {
  background-color: rgb(89, 89, 89);
}

.darkGray {
  color: rgb(115, 115, 115);
}

.red {
  color: rgb(192, 57, 43);
}

.purple {
  color: rgb(142, 68, 173);
}

.grayPurple {
  color: rgb(116, 88, 127)
}