.sans {
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: .2em;
}

.sansBold {
  composes: sans;
  font-weight: 700;
}

.bodyText {
  font-family: helvetica, arial, sans-serif;
}

.large {
  font-size: 1.2em;
}

.larger {
  font-size: 1.6em;
}

.pageTitle {
  composes: darkGray from './colors.css';
  composes: sansBold larger;
}
