.button {
  composes: greenBackground from '../../../styles-common/colors.css';
  composes: sansBold large from '../../../styles-common/typography.css';
  margin-top: 12px;
  width: 100%;
  height: 60px;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.4s ease, font-size 0.2s ease;
}

.buttonDisabled {
  composes: grayBackground from '../../../styles-common/colors.css';
  composes: button;
  transition: background-color 0.4s ease;
}

.button:active {
  box-shadow: none;
  font-size: 1em;
}