 .dropDownWrapper {
  composes:  darkGrayBackground from '../../styles-common/colors.css';
  display: none;
  justify-content: center;
  height: 0;
  padding: 12px;
  overflow: hidden;
  transition: min-height .2s ease, display .2s ease;
 }

 .dropDownWrapperActive {
   composes: dropDownWrapper;
   display: flex;
   height: auto;
 }

.dropDownNav {
  flex-grow: 1;
  justify-content: center;
  max-width: 1400px;
}
