.container {
  margin-bottom: 24px;
}

.label {
  composes: sansBold large from '../../styles-common/typography.css';
  composes: darkGray from '../../styles-common/colors.css';
  display: block;
  padding-bottom: 12px;
  padding-top: 12px;
}

.inputContainer {
  composes: purpleBackground from '../../styles-common/colors.css';
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 12px 0;
  transition: background-color 0.4s ease;
}

.inputContainerDisabled {
  composes: grayBackground from '../../styles-common/colors.css';
  composes: inputContainer;
}

.input {
  margin-right:12px;
  width: 600px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: white;
  font-size: 16px;
}

@media screen and (max-width: 587px) {
   .input {
     font-size: 14px;
     width: 18rem;
   }
}

.icon {
  display: inline-flex;
  width: 36px;
  height: 36px;
  margin: 0 12px;
}

.iconLoading {
  composes: icon;
  background-image: url('../../images/loadingicon.svg');
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 586px) {
   .icon {
   }
}
