 .header {
  composes: purpleBackground from '../../styles-common/colors.css';
  display: flex;
  justify-content: center;
  padding: 12px;
 }

.navBar {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
  max-width: 1400px;
}

.logoSection {
  composes: sans large from '../../styles-common/typography.css';
  display: flex;
  align-items: center;
  letter-spacing: .4em;
  color: white;
}

.logo {
  margin-right: 18px;
  height: 40px;
  width: 40px;
}

.nav {
  display: inline-flex;
  margin: 0;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}

.navLi {
  list-style: none;
}

.link {
  composes: sansBold from '../../styles-common/typography.css';
  color: white;
  text-decoration: none;
  margin-right: 24px;
}

.user {
  list-style: none;
  height: 40px;
  width: 40px;
  background-image: url('../../images/usericon.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.menu {
  display: none;
  list-style: none;
  height: 40px;
  width: 40px;
  background-image: url('../../images/menuicon.svg');
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropDownContent {
  display: flex;
  justify-content: flex-end;
}

.userInfo {
  composes: sans from '../../styles-common/typography.css';
  color: white;
  margin-right: 24px;
}

.linkNarrow {
  composes: link;
  display: none;
}

@media screen and (max-width: 740px) {
  .menu {
    display: initial;
  }
  .user {
    display: none;
  }
  .navLi {
    display: none;
  }
  .dropDownContent {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .userInfo {
    margin: 0;
    padding-bottom: 12px;
  }
  .linkNarrow {
    margin: 0;
    display: initial;
    padding-bottom: 12px;
  }
  .link {
    margin: 0;
    padding-bottom: 12px;
  }
}
