.headerRow {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.titleContainer {
  min-width: 400px;
  max-width: 800px;
}

.follow {
  /*position: relative;*/
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 12px 0 0;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
}
.notFollowing {
  composes: follow;
  background-image: url('../../images/star.svg');

}

.notFollowing:hover:after {
  position: absolute;
  top: -20px;
  color: rgb(116, 88, 127);
  font-family: 'Noto Sans', sans-serif;
  content: 'follow';
}

.notFollowing:active:after {
  display: none;
}

.following {
  composes: follow;
  background-image: url('../../images/star-yellow.svg')
}

.following:hover:after {
  position: absolute;
  top: -20px;
  color: rgb(116, 88, 127);
  font-family: 'Noto Sans', sans-serif;
  content: 'unfollow';
}

.following:active:after {
  display: none;
}

.title {
  position: relative;
  margin: 0 0 0 52px;
  composes: sansBold from '../../styles-common/typography.css';
  composes: purple from '../../styles-common/colors.css';
  font-size: 2em;
}

/*.title:hover:after {
  position: absolute;
  margin-left: 12px;
  padding: 4px;
  background-color: rgb(116, 88, 127);
  font-size: 16px;
  color: white;
  content: 'edit';
}*/

.editButton {
  composes: sansBold from '../../styles-common/typography.css';
  display: none;
  position: absolute;
  padding: 6px;
  background-color: rgb(116, 88, 127);
  font-size: 16px;
  color: white;
  content: 'edit';
}

/*.title:active:after {
  display: none;
}*/

.priority {
  composes: pageTitle from '../../styles-common/typography.css';
  margin: 8px 0 0 52px;
}

.priorityNumber {
  composes: purple from '../../styles-common/colors.css';
  margin-left: 12px;
  font-size: 1.4em;
}

.priorityNumber:hover:after {
  margin-left: 12px;
  padding: 4px;
  background-color: rgb(116, 88, 127);
  font-size: 16px;
  color: white;
  content: 'edit';
}

.priorityNumber:active:after {
  display: none;
}

.ownerContainer {
  display: flex;
  justify-content: flex-end;
  min-width: 200px;
  flex-grow: 1;
}

.ownerText {
  composes: sansBold from '../../styles-common/typography.css';
  composes: darkGray from '../../styles-common/colors.css';
  text-align: right;
  margin: 0 12px;
}

.link {
  composes: sansBold from '../../styles-common/typography.css';
  composes: purple from '../../styles-common/colors.css';
  text-decoration: none;
}

.ownerImage {
  height: 100px;
  width: 100px;
}

.requestBody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.requestItems {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex-wrap: nowrap;
  padding: 0 12px;
}

.requestItemContainer {
  list-style: none;
  display: flex;
}

.requestItemLabel {
  composes: sans from '../../styles-common/typography.css';
  composes: darkGray from '../../styles-common/colors.css';
  display: block;
  margin: 0;
  min-width: 200px;
  flex-basis: 20%;
  padding: 37px 12px 0 0;
  text-align: right;
  border-right: 2px solid rgb(242, 242, 242);
  font-size: 1em;
}

.requestItemComposer {
  margin: 0 12px;
  padding: 34px 0 0 0;
  flex-grow: 1;
  border-bottom: 2px solid rgb(242, 242, 242);
}

.requestItem {
  composes: requestItemComposer;
  composes: sansBold from '../../styles-common/typography.css';
  composes: purple from '../../styles-common/colors.css';
  margin: 0 12px;
  min-width: 400px;
  padding: 34px 0 0 0;
  font-size: 1.2em;
  border-bottom: 3px solid rgb(242, 242, 242);
}

.requestUrl {
  composes: requestItemComposer;
  min-widtth: 400px;
  overflow: hidden;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.requestDescription {
  composes: requestItemComposer;
  composes: bodyText from '../../styles-common/typography.css';
  border: none;
}

.requestItem:hover:after {
  position: absolute;
  margin-left: 12px;
  padding: 4px;
  background-color: rgb(116, 88, 127);
  font-size: 16px;
  color: white;
  content: 'edit';
}

.requestItem:active:after {
  display: none;
}

.historyContainer {
  margin: 40px 0 0 24px;
  padding: 0;
  height: 2000px;
  flex-grow: 1;
}

.historyItem {
  margin-bottom: 24px;
  list-style: none;
}

.historyHeader {
  composes: sans from '../../styles-common/typography.css';
  border-left: 2px solid rgb(242, 242, 242);
  padding: 0 0 29px 12px;
}

.historyAuthor {
  composes: sans from '../../styles-common/typography.css';
  composes: darkGray from '../../styles-common/colors.css';
  font-size: 17px;
  margin: 0;
}

.historyDate {
  composes: historyAuthor;
  font-weight: 500;
}

.historyBody {
  composes: bodyText from '../../styles-common/typography.css';
  margin-top: -17px;
  padding-left: 24px;
}

@media screen and (max-width: 1280px) {
  .titleContainer{
    max-width: 660px;
  }
}

@media screen and (min-width: 1170px) {
  .requestBody{
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 1000px) {
  .ownerContainer {
    margin: 24px 0 0 52px;
    justify-content: flex-start;
  }
  .ownerImage {
    order: 1;
  }
  .ownerText {
    order: 2;
    text-align: left;
  }
}

@media screen and (max-width: 850px) {
  .requestItemLabel {
    font-size: 12px;
    min-width: 140px;
  }
  .requestItem {
    font-size: 16px;
    min-width: 280px;
  }
  .requestUrl {
    min-width: 280px;
  }
}

@media screen and (max-width: 500px) {
  .requestBody {
    overflow: hidden;
  }
  .headerRow {
    overflow: hidden;
  }
  .title {
    font-size: 1.4em;
  }
  .priority {
    margin-left: 24px;
    font-size: 1.4em;
  }
  .priorityNumber {
    font-size: 1.4em;
  }
  .ownerContainer {
    margin: 24px 0 0 24px;
  }
  .requestItemLabel {
    font-size: 10px;
    min-width: 100px;
  }
  .requestItem {
    font-size: 14px;
    min-width: 200px;
  }
  .requestUrl{
    min-width: 200px;
  }
}
